h3 {
    margin-left: 30px;
}

#name, #name2, #price, #price2, #occ, #occ2 {
    list-style: none;
    line-height: 30px;
}

.grid-container {
    display: grid;
    grid-template:
    "name price occupation" auto;
    border: solid 1px;
}